.py-20 {
  padding: 20px 0;
}
.d-flex {
  display: flex;
}
#test {
  width: 20px;
  height: 20px;
  background-color: rgba(156, 226, 26, 0.7);
}
#bg {
  width: 200px;
  height: 100px;
  background: rgba(168, 211, 67, 0.833);
}

/* 4. Пишем выпадающее меню */
.nav {
  column-gap: 20px;
}
.mav-item {
  border: 2px solid #66cdaa;
  padding: 10px 40px;
  position: relative;
  cursor: pointer;
}
.mav-item .sub-menu {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -30px;
  white-space: nowrap;
  cursor: pointer;
  padding: 5px 10px;
  background-color: rgba(233, 73, 73, 0.915);
}

/* 5. Делаем вкладки табы (Tabs) */
.tabs .tab {
  display: inline-block;
  position: relative;
  z-index: 9;
  padding: 5px 10px;
  cursor: pointer;
}
.tabs .tab-1 {
  border: 1px solid rgba(187, 64, 64, 0.719);
  border-bottom: 1px solid #fff;
  border-radius: 3px 3px 0 0;
}
.tabs .content {
  position: relative;
  top: -1px;
  z-index: 1;
  padding: 10px;
  width: 300px;
  height: 50px;
  border: 1px solid rgba(187, 64, 64, 0.719);
  border-radius: 0 0 3px 3px;
}
.hide {
  display: none;
}
.show {
  display: block;
}

/* 6. Учимся делать модальные окна */
.container6 {
  position: relative;
}
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(18, 5, 5, 0.405);
  padding: 5px;
}
.modal-content {
  margin-inline: auto;
  background-color: rgba(71, 46, 46, 0.303);
  padding: 2px 15px;
  text-align: center;
  border: 1px solid rgba(71, 46, 46, 0.503);
  width: 80%;
}
.close {
  color: rgba(170, 170, 170, 0.961);
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

/* 7. Анимация в js */
#myContainer {
  position: relative;
  margin-top: 10px;
  width: 250px;
  height: 250px;
  background-color: rgba(102, 108, 64, 0.728);
}
#myAnimation {
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: rgba(12, 237, 65, 0.946);
}

/* 8. Как сделать слайдер (Carousel) */
.slider-container {
  max-width: 1000px;
  position: relative;
  margin-inline: auto;
}
.fade-img {
  max-width: 1000px;
  max-height: 500px;
  border-radius: 10px;
  overflow: hidden;
}
.fade-img img {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: rgba(61, 228, 94, 0.779);
  padding: 15px;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  z-index: 9;
  cursor: pointer;
}
.arrow:hover {
  background-color: rgba(0, 0, 0, 0.897);
}
.prev {
  left: 10px;
  border-radius: 0 3px 3px 0;
}
.next {
  right: 10px;
  border-radius: 3px 0 0 3px;
}
.numbertxt {
  position: absolute;
  top: 10px;
  left: 10px;
  color: #66cdaa;
}
.text {
  color: #000;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}
.dot {
  width: 13px;
  height: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  cursor: pointer;
}
.active,
.dot:hover {
  background-color: #717171;
}
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* 9 Как сделать Фильтрацию на сайт */
#myInput {
  width: 50%;
  font-size: 16px;
  padding: 12px 20px 12px 5px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
  border-radius: 10px;
}
#myUl {
  list-style: none;
  padding: 0;
  margin: 0;
}
.header {
  font-size: 20px;
  color: #000;
}
#myUl li a {
  border: 1px solid #ddd;
  margin-top: -1px;
  background-color: #f6f6f6;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  color: #000;
  display: block;
  border-radius: 10px;
}
